.title{
    background: red; 
    color: white
}

.menu{
    font-size: 20px
}

#gioithieu,#phattrien{
    background: #a52a2a;
    color: white;
    font-size: 30px;
}

.intro{
    font-size: 40px; 
    text-align: center;
}

.highlight{
    color: black; 
    font-size: 25px;
    font-weight: bold;
}

.table{
    width: 900px;
}

.center{
    text-align: center;
}

.left{
    text-align: left;
}

.right{
    text-align: right;
}

.greentea{
    background: url(./img/greentea.jpg);
}

.blacktea{
    background: url(./img/blacktea.jpg);
}

.olongtea{
    background: url(./img/olongtea.jpg);
}

.fruit{
    background: url(./img/fruit.jpg);
}

.milktea{
    background: url(./img/milktea.png);
}

